<!DOCTYPE html>
<html>
<head>
    <title>View Reports</title>
</head>
<body>
    {% if request.user.profile.is_banned_now and not request.user.is_staff %}
    <div class="ban-popup">
        <div class="ban-popup-content">
            <h2>You Have Been Banned</h2>
            {% if request.user.profile.banned_until %}
                <p>Your account has been temporarily suspended until {{ request.user.profile.banned_until|date:"F d, Y H:i" }}.</p>
            {% else %}
                <p>Your account has been temporarily suspended.</p>
            {% endif %}
            <p>Please contact us for more information.</p>
            <div class="contact-info">
                <p>Email: contact@example.com</p>
                <p>Phone: +1 123-456-7890</p>
            </div>
            <p class="report-message">To report an unfair ban, please contact us with details.</p>
            <a href="{% url 'logout' %}" class="ban-logout">Logout</a>
        </div>
    </div>

    {%else%}
    <h1>Reports</h1>
    <ul>
        {% for report in reports %}
            <li>
                Post: "{{ report.post.post }}"<br>
                Reported User:<a href="{% url 'public_profile' report.post.user.username %}" class="ban-logout">{{ report.post.user.username }}</a><br>
                Reported by: {{ report.user.username }}<br>
                Reason: {{ report.reason }}<br>
                Timestamp: {{ report.timestamp }}

                <form method="post" action="{% url 'delete_reported_post' report.post.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete Post</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {%endif%}
</body>
</html>